<ActionBar title="Cat Page" class="action-bar"></ActionBar>

<ScrollView class="page">
  <StackLayout class="home-panel">
    <Label text="cat works!" class="btn btn-primary special"></Label>
  </StackLayout>
  <StackLayout class="home-panel">
    <Button class="btn btn-primary" text="Go Demo" (tap)="onGoBackDemo()"></Button>
    <Button class="btn btn-primary" text="Modal Test" (tap)="openModal()"></Button>
    <Button class="btn btn-primary" text="Modal Search" (tap)="openModalSearch()"></Button>
  </StackLayout>
</ScrollView>
