<Label text="AbsoluteLayout" textWrap="true"></Label>
<AbsoluteLayout #target width="210" height="210" backgroundColor="lightgray" horizontalAlignment="left" verticalAlignment="top">
    <Label text="10, 10" width="90" height="90" top="10" left="10" textWrap="true" backgroundColor="red"></Label>
    <Label text="110, 10" width="90" height="90" top="10" left="110" textWrap="true" backgroundColor="green"></Label>
    <Label text="10, 110" width="90" height="90" top="110" left="10" textWrap="true" backgroundColor="yellow"></Label>
    <Label text="110, 110" width="90" height="90" top="110" left="110" textWrap="true" backgroundColor="blue"></Label>
</AbsoluteLayout>

<!-- <Button text="Toggle Indicator" (tap)="toggleIndicator()" width="200" height="100" top="80"></Button>
<Button text="Animate" (tap)="animate(target)" class="btn btn-primary btn-active" width="200" height="100"></Button>

<ActivityIndicator
    [busy]="isBusy"
    (busyChange)="onBusyChanged($event)"
    color="red"
    width="100"
    height="100"
    style="z-index: 10;"
></ActivityIndicator> -->

